*.class
*.jar
*.json
/.idea/
/.lein-*
/.node-xmlhttprequest-sync-*
/.nrepl-port
/browser-tests/
/checkouts
/classes
/config.edn
/dev-server/
/dev-tests/
/figwheel_server.log
/node_modules/
/npm-debug.log
/pom.xml
/pom.xml.asc
/resources/public/contracts/build/
/resources/public/css/
/resources/public/js/
/server/
/smart-contracts-tests/
/target